<%= form_for @user, url: user_path(id: @user), method: :patch do |f|%>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end -%>
	<% end -%>
	<div class="form-group">
		<strong><%= t(:'email') %>:</strong><br>
		<%= f.text_field :email, class: 'form-control' %><br>
	</div>
	<div class="form-group">
		<strong><%= t(:'password') %>:</strong><br>
		<%= f.password_field :password, class: 'form-control'%><br>
	</div>
	<div class="form-group">
		<strong><%= t(:'password_confirm') %>:</strong><br>
		<%= f.password_field :password_confirmation, class: 'form-control' %><br>
	</div>
	<div>
		<%= f.submit t(:'edit'), class: 'btn btn-primary' %>
	</div>

<% end -%>