
	<div class="panel panel-header">
		<h3>
        <button class="glyphicon glyphicon-plus Transparent" style="color: DodgerBlue;" data-toggle="modal" data-target="#newUserModal"></button>

        
        <button class="glyphicon glyphicon-search Transparent float-left" style="color: DodgerBlue;" data-toggle="modal" data-target="#searchUsersModal"></button>
    	</h3>
    	<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end -%>
		<% end -%> 
	</div>
	<div class="panel panel-body">
		<ul class="list-group">
			<% @users.each do |user| %>

				<li class="list-group-item">
					<div class="list-group-item-heading">
						<div class="dropdown">
							<button type="button" class="btn btn-primary dropdown-toggle float-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<%= t(:actions) %>
	  						<span class="caret"></span>
							</button>

							<ul class="dropdown-menu dropdown-menu-left"> 
								<li><%= link_to t(:'edit'), edit_user_path(id: user)%></li>
					   			<% if user.user_type != 1 %>
									<li><%= link_to t(:'delete'), user_path(id: user), method: :delete%></li>
				   					<li><%= link_to t(:'active'), active_user_path(id: user), method: :post%></li>
				   					<li><%= link_to t(:'not_active'), deactive_user_path(id: user), method: :post%></li>
								<% end -%>
							</ul>
						</div>
						<strong class="EmailFont"><%= user.email %></strong>
					</div>
					<p class=" list-group-item-text">
						<small class="float-right">
							<% if user.user_type == 2 %>
								<%= t(:active) %>
							<% else %>
								<% if user.user_type != 1 %>
									<%= t(:not_active) %>
								<% end -%>
							<% end -%>
						</small><br>
					</p>
				</li>
			<% end -%>
		</ul>
	</div>

<div id="newUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <%= form_for :user, url: create_user_path(id: @user) do |f|%>
      		<div class="modal-body">
			<div class="form-group">
				<strong><%= t(:'email') %>:</strong><br>
				<%= f.text_field :email, class: 'form-control' %><br>
			</div>
			<div class="form-group">
				<strong><%= t(:'password') %>:</strong>
				<small><label class="label label-warning"><%= t(:'password_limit') %></label></small><br>
				<%= f.password_field :password, class: 'form-control' %><br>
			</div>
			<div class="form-group">
				<strong><%= t(:'password_confirm') %>:</strong><br>
				<%= f.password_field :password_confirmation, class: 'form-control' %><br>
			</div>
			<div>
			</div>

      		</div>
      		<div class="modal-footer">
			<%= f.submit t(:'submit_user'), class: 'btn btn-primary'%>
      		</div>
		<% end -%>
    </div>
  </div>
</div>	

<div id="searchUsersModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
        <%= form_for :user, url: users_search_results_path, method: :get do |f|%>
      		<div class="modal-body">

			<div class = "form-group">
				<%= f.label t(:email) %><br>
				<%= f.text_field :email, class: 'form-control'%>
			</div>


     	 	</div>
      		<div class="modal-footer">

			<%= f.submit value: t(:search), class: 'btn btn-primary' %>
		<% end -%>

      </div>
    </div>

  </div>
</div>

