<%= form_for :subject, url: contacts_search_results_path, method: :get do |f|%>
	<div class = "form-group">
		<%= f.label t(:name) %><br>
		<%= f.text_field :name, class: 'form-control'%>
	</div>
	<div class = "form-group">
		<%= f.label t(:number) %><br>
		<%= f.text_field :number, class: 'form-control' %>
	</div>
	<div class = "form-group">
		<%= f.label t(:address) %><br>
		<%= f.text_area :address, class: 'form-control' %>
	</div>
	<div class="alert alert-info">
		<small class="form-text text-muted"><%=t(:search_guide)%>.</small><br>
	</div>
<%= f.submit value: t(:search), class: 'btn btn-primary' %>

<% end -%>